@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  font-size: 62.5%;
}
.heading {
  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff203;
  color: #911c6e;
  font-size: 3rem;
}
.heading > h1 {
  padding: 0.8rem;
  background: transparent;
  border: 0.5rem solid white;
  border-radius: 3rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.main {
  width: 100vw;
  height: 100wh;
  display: flex;
  margin: 4rem auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Responsivness management */

@media only screen and (max-width: 600px) {
  .heading {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff203;
    color: #911c6e;
    font-size: 1rem;
  }
  .heading > h1 {
    padding: 0.8rem;
    background: transparent;
    border: 0.5rem solid white;
    border-radius: 3rem;
    text-align: center;
  }
}

.container {
  width: 80rem;
  height: 35rem;
  margin: 2rem auto;
  background-size: 100%;
  box-shadow: 0 1rem 2rem -0.6rem #000;
  display: flex;
  position: relative;
}
.primary {
  width: 8rem;
  height: 3rem;
  position: absolute;
  font-size: 1rem;
  font-weight: 800;
  left: 3rem;
  top: 55%;
  border-radius: 1.1rem;
  outline: none;
  cursor: pointer;
}
.stars {
  width: 13rem;
  height: auto;

  position: absolute;
  font-size: 1.8rem;
  left: 1rem;
  top: 70%;
  border-radius: 1.1rem;
  outline: none;
  cursor: pointer;
}
.img {
  width: 10rem;
  height: 25rem;
  padding: 1rem;
}

.img > img {
  width: 11.5rem;
  height: 17rem;
}

.info {
  background: transparent;
  width: 35%;
  margin: 0 2rem;
}

.title {
  font-size: 5.5rem;
  font-weight: bolder;
}
.director {
  font-size: 2.5rem;
}
.runtime {
  font-size: large;
}

.description {
  width: 100%;
  margin-top: 4rem;
  background: transparent;
  color: #273083;
  font-weight: bolder;
  font-size: 1.5rem;
}
