.Time {
  height: fit-content;
  width: fit-content;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 70px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 110px;
}
.clock {
  background-color: #282c34;
  border-radius: 50%;

  min-height: 50vh;
  align-items: center;
  justify-content: center;
}
